@import "tailwindcss";
@font-face {
  font-family: 'SpaceAge';
  src: url('./assets/fonts/spaceage.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeoSansLight';
  src: url('./assets/fonts/GeosansLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: black;
  width:100vw;
  height:100vh;
}